

	/*@import url(//fonts.googleapis.com/css?family=Lato:700);*/
	/*@import url(//fonts.googleapis.com/css?family=Ubuntu:500);*/

	body {
		background-color: #ccc;
	}

	h1,h2{
		margin-left: 20px;
	}
	.video-js {
		max-width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}